@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  background-color: #13161b;
  min-height: 100vh;
}

.mobile-navbar {
  background-color: #13161b;
  height: 55px;
  width: 100%;
  border-bottom: 1px solid #282c34;
  box-shadow: 0 4px 10px rgb(0 0 0 / 24%);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.mobile-navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  height: 55px;
  position: relative;
}

.mobile-navbar-hamburger {
  padding: 12px;
  cursor: pointer;
}

.mobile-navbar-logo {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  height: 36px;
}

.mobile-navbar-logout {
  background: 0 0;
  border: 1px solid transparent;
  color: #ff9345;
  font-size: 14px;
  height: 40px;
  line-height: 20px;
  padding: 0 16px;
  min-width: 64px;
  display: inline-flex;
  align-items: center;
  border-radius: 8px;
  font-weight: 500;
  justify-content: center;
  position: relative;
  text-align: center;
}

.mobile-navbar-logout:hover {
  background: #282c34;
}

/* LOGIN PAGE */
.input-focus {
  background-color: #0d0e12;
  border-color: #3c424d;
  color: #fff;
  height: 56px;
  padding: 12px;
  appearance: none;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 8px;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  outline: none;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: 100%;
}

.input-focus:focus {
  border-color: #ff9345;
  outline: none;
}

.input-label {
  border: 1px solid transparent;
  height: 100%;
  left: 0;
  padding: 12px;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform-origin: 0 0;
  transition: all .1s ease-in-out;
  align-items: center;
  color: #5b6372;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.input-focus:focus,
.input-focus:valid {
  padding-bottom: 10px;
  padding-top: 26px;
}

.input-focus:focus + label,
.input-focus:valid + label {
  top: -10px;
  pointer-events: none;
}

.button-gradient {
  background: linear-gradient(104.04deg,#ffb444,#eb6f3a);
}

.form-bg {
  background-color: #1C1F25;
}

/* HOME PAGE */

.home-main {
  position: relative;
}

.home-container-content {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px 64px;
  width: 100%;
}

@media (min-width: 640px) {
  .home-container-content {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .home-container-content {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .home-container-content {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .home-container-content {
    max-width: 1280px;
  }
}

/* PRODUCTS */
.products-content-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.products-header {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #0d0e12;
}

.products-header-title-container {
  padding: 16px 12px;
  display: block;
  border-bottom: 1px solid #1C1F25;
}

.products-header-ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.products-header-li {
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
}

.products-header-li-span {
  align-items: center;
  color: #8e97a8;
  cursor: pointer;
  display: inline-flex;
  font-size: 12px;
  font-weight: 500;
  justify-content: center;
  line-height: 16px;
  transition: color .15s ease-in-out;
}

.products-header-li-span:hover {
  color: #fff;
}

.products-content-listing-wrapper {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  display: flex;
}

.products-content-listing {
  height: 100%;
  flex: 1 1;
  /* overflow-y: scroll; */
  padding: 16px 24px;
}

.products-listing-header {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-listing-h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  justify-content: center;
  align-items: center;
}

/* PRODUCT CARD */
.product-wrapper {
  margin: 10px;
}

.product-card {
  width: 252px;
  height: 308px;
  display: flex;
  flex-direction: column;
  background-color: #1C1F25;
  border-radius: 8px;
  border: 1px solid #282c34;
  transition: all .2s ease;
  overflow: hidden;
}

.product-card:hover {
  border-color: #3c424d;
  box-shadow: 0 12px 20px #0d0e12;
}

.product-card-main {
  background: linear-gradient(180deg,rgba(175,219,27,0),rgba(175,219,27,.1));
  width: 100%;
  height: 240px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product-card-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #afdb1b;
  align-items: center;
  background-color: #282c34;
  border-radius: 8px;
  box-shadow: 0 0 0 1px transparent;
  display: inline-flex;
  justify-content: center;
  padding: 4px 8px;
  transition: box-shadow .2s cubic-bezier(.075,.82,.165,1);
  white-space: nowrap;
}

.product-card-tag span {
  color: inherit;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.product-card-image-container {
  margin-top: 40px;
}

.product-card-image {
  max-height: 150px;
}

.product-card-price-container {
  width: 90%;
  display: flex;
  text-align: center;
}

.product-card-price {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.product-card-price-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.product-card-footer {
  width: 100%;
  padding: 15px 10px;
  position: relative;
  height: 76px;
  display: flex;
}

.product-card-description {
  width: 90%;
}

.product-card-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.product-card-series {
  color: #8e97a8;
  letter-spacing: 0.075em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

/* PRODUCT PAGE */
.product-main-layout-container {
  overflow-x: hidden;
  overflow-y: auto;
}

.nendoroid-content-wrapper {
  box-sizing: border-box;
  padding: 40px 0;
}

.nendoroid-details-container {
  max-width: 1032px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1024px) {
  .nendoroid-details-container {
    display: flex;
    justify-content: space-between;
  }
}

.nendoroid-details-avatar {
  display: block;
  position: relative;
  z-index: 1;
}

@media (min-width: 1024px) {
  .nendoroid-details-avatar {
    width: 50%;
    display: inline-block;
    position: -webkit-sticky;
    position: sticky;
    vertical-align: top;
    padding-right: 32px;
    top: 100px;
  }
}

.nendoroid-avatar-header {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 8px;
  gap: 8px;
}

.nendoroid-avatar-name {
  flex: 1 0 auto;
}

.nendoroid-avatar-productId {
  display: flex;
  align-items: center;
  grid-gap: 5px;
  gap: 5px;
  margin: 10px 0;
}

.nendoroid-productId {
  color: #afdb1b;
  align-items: center;
  background-color: #282c34;
  border-radius: 8px;
  box-shadow: 0 0 0 1px transparent;
  display: inline-flex;
  justify-content: center;
  padding: 4px 8px;
  transition: box-shadow .2s cubic-bezier(.075,.82,.165,1);
  white-space: nowrap;
}

.nendoroid-productId span {
  color: inherit;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.nendoroid-name {
  display: flex;
  align-items: center;
}

.nendoroid-name h1 {
  max-width: 360px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
}

.nendoroid-avatar-figure {
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
}

.nendoroid-avatar-figure-container {
  height: 480px;
  position: relative;
}

.nendoroid-avatar-figure-image {
  max-height: 480px;
}

.nendoroid-avatar-details-section {
  display: block;
}

@media (min-width: 768px) {
  .nendoroid-avatar-details-section {
    display: inline-block;
  }
}

@media (min-width: 1024px) {
  .nendoroid-avatar-details-section {
    width: 50%;
    vertical-align: top;
  }
}

.nendoroid-avatar-details-section-price-info {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 1024px) {
  .nendoroid-avatar-details-section-price-info {
    max-width: 500px;
    justify-content: space-between;
  }
}

.nendoroid-avatar-details-section-price-h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}

.nendoroid-productPage-buy-button {
  background: linear-gradient(104.04deg,#ffb444,#eb6f3a);
  display: flex;
  align-items: center;
  margin-left: 30px;
  font-size: 14px;
  height: 40px;
  line-height: 20px;
  padding: 0 16px;
  border: 1px transparent;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  justify-content: center;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  white-space: nowrap
}

.nendoroid-productPage-buy-button:hover {
  background: #eb6f3a;
}

.nendoroid-productPage-buy-button[disabled] {
  background: #282c34;
  color: #5b6372;
  cursor: not-allowed;
}

.nendoroid-productPage-about {
  padding: 28px 32px;
  background-color: #1C1F25;
  border-radius: 12px;
  border: 1px solid #282c34;
}

.nendoroid-productPage-about-productField {
  color: #737d8f;
  text-transform: uppercase;
  letter-spacing: .075em;
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
}

/* SIDEBAR */

.sidebar-container {
  height: 100%;
  background-color: #13161b;
  position: relative;
  border-right: 1px solid #1C1F25;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.sidebar-collapse-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  width: 32px;
  height: 32px;
  right: -16px;
  text-align: center;
  z-index: 10;
  top: 100px;
  /* transition: all 200ms cubic-bezier(.215,.61,.355,1); */
  transition: all 200ms ease-in-out;
  color: #8e97a8;
}

.sidebar-collapse-button-collapsed {
  transform: rotate(-180deg);
  right: -16px;
}

.sidebar-logo {
  padding-top: 28px;
  padding-left: 32px;
  padding-right: 32px;
  transition: padding .1s cubic-bezier(.215,.61,.355,1);
}

.sidebar-logo-collapsed {
  padding-left: 15px;
  padding-right: 15px;
}

.sidebar-links {
  padding-top: 28px;
  padding-left: 16px;
  padding-right: 16px;
  transition: padding .1s cubic-bezier(.215,.61,.355,1);
  overflow: hidden;
  position: relative;
  flex: 1 1;
  max-height: calc(100% - 200px);
}

.sidebar-links-collapsed {
  padding-left: 15px;
  padding-right: 15px;
}

.sidebar-menu-links {
  margin-top: 48px;
  transition: all .3s cubic-bezier(.2,0,0,1) 0s;
}

.sidebar-menu-link-list-item {
  margin-bottom: 8px;
  display: block;
  position: relative;
}

.sidebar-menu-link-item-a {
  color: #8e97a8;
  padding: 8px 12px;
  transition: background-color .2s,color .2s,padding .1s cubic-bezier(.215,.61,.355,1);
  display: flex;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-menu-link-icon {
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
}

.sidebar-menu-link-label {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 1;
  white-space: nowrap;
  margin-left: 12px;
  font-size: 14px;
  line-height: 20px;
}

.sidebar-footer {
  background-color: #13161b;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.sidebar-footer-section {
  padding-top: 8px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  transition: padding .1s cubic-bezier(.215,.61,.355,1);
}

.sidebar-footer-section-collapsed {
  padding-left: 15px;
  padding-right: 15px;
}

.sidebar-accountInfo-container {
  display: flex;
  border-top: 1px solid #282c34;
  padding: 16px;
}

.sidebar-accountInfo-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1;
}

.sidebar-accountInfo-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1 1;
  justify-content: space-between;

  font-weight: 500;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 110px;
  display: block;
}

/* ADMIN DASHBOARD */
.dashboard-content-container {
  padding: 48px 24px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media (min-width: 640px) {
  .dashboard-content-container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .dashboard-content-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .dashboard-content-container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .dashboard-content-container {
    max-width: 1280px;
  }
}

.dashboard-top-section {
  margin-bottom: 36px;
}

.dashboard-top-section h1 {
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
}

.dashboard-top-section-card {
  margin-top: 12px;
  max-width: 640px;
  height: 220px;
  width: 100%;
  position: relative;
  padding: 8px;
  overflow: hidden;
  border: 1px solid #282c34;
  background-color: #1C1F25;
  border-radius: 8px;
  transition: all .2s ease;
}

@media (min-width: 768px) {
  .dashboard-top-section-card {
    padding: 24px;
    min-width: 450px;
  }
}

.dashboard-button-link {
  height: 36px;
  white-space: nowrap;
  width: calc(50% - 6px);
}

.dashboard-button {
  background: #282c34;
  font-size: 14px;
  height: 40px;
  line-height: 20px;
  padding: 0 16px;
  width: 100%;
  cursor: pointer;
  align-items: center;
  border: 1px transparent;
  border-radius: 8px;
  color: #fff;
  display: inline-flex;
  font-weight: 500;
  justify-content: center;
  position: relative;
  text-align: center;
}

.dashboard-products-list {
  display: flex;
  flex-direction: column;
}

/* DASHBOARD PRODUCT */
.dashboard-product-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 640px;
  min-width: 450px;
  width: 100%;
  height: 100px;
  border: 1px solid #282c34;
  border-radius: 8px;
  transition: all 200ms ease;
  overflow: hidden;
  background-color: #1C1F25;
  padding: 24px;
  margin-bottom: 10px;
}

.dashboard-product-productName {
  font-size: 14px;
  line-height: 20px;
  max-width: calc(50% - 10px);
  width: 100%;
}

.dashboard-product-button {
  background: #282c34;
  font-size: 14px;
  height: 40px;
  line-height: 20px;
  padding: 0 16px;
  width: calc(25% - 6px);
  cursor: pointer;
  align-items: center;
  border: 1px transparent;
  border-radius: 8px;
  color: #fff;
  display: inline-flex;
  font-weight: 500;
  justify-content: center;
  position: relative;
  text-align: center;
} 

/* CART BUTTON */ 
.cart-button-container {
  display: inline-flex;
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 20;
}

.cart-button {
  font-size: 16px;
  height: 40px;
  line-height: 20px;
  padding: 8px;
  background: #282c34;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border: 1px transparent;
  border-radius: 8px;
  color: #fff;
  font-weight: 500;
  justify-content: center;
  position: relative;
  text-align: center;
  touch-action: manipulation;
}

.cart-button:hover {
  background: #3c424d;
}

.cart-button span {
  margin-right: 0;
  color: inherit;
  display: inline-block;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
}

.cart-button-count-container {
  position: absolute;
  top: -8px;
  right: -8px;
  pointer-events: none;
  display: inline-block;
}

.cart-button-count {
  min-width: 20px;
  text-align: center;
  background-color: #ff9345;
  color: #fff;
  box-shadow: 0 0 0 2px #282c34;
  border-radius: 8px;
  padding: 2px 4px;
  display: inline-block;
  transition: transform 225ms cubic-bezier(.4,0,.2,1) 0ms,box-shadow 225ms cubic-bezier(.4,0,.2,1) 0ms;
  white-space: nowrap;
}

.cart-button-count span {
  color: inherit;
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.dashboard-product-price {
  font-size: 14px;
  line-height: 20px;
  max-width: calc(25% - 10px);
  width: 100%;
}

/* HOME PAGE */
.home-container-content {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px 64px;
  width: 100%;
}

@media (min-width: 640px) {
  .home-container-content {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .home-container-content {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .home-container-content {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .home-container-content {
    max-width: 1280px;
  }
}

.home-hero-banner-container {
  position: relative;
}

.home-hero-banner-header {
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.home-hero-banner-header-info-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-hero-banner-header-info-section h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}

.home-hero-banner-header-info-section button {
  background: 0 0;
  border: 1px solid transparent;
  color: #ff9345;
  font-size: 14px;
  height: 40px;
  line-height: 20px;
  padding: 0 16px;
  cursor: pointer;
  min-width: 64px;
  align-items: center;
  border-radius: 8px;
  display: inline-flex;
  font-weight: 500;
  justify-content: center;
  position: relative;
  text-align: center;
  touch-action: manipulation;
}

.home-hero-banner-header-info-section button:hover {
  background: #282c34;
}

.home-hero-picture {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: left;
  height: 240px;
}

@media (min-width: 768px) {
  .home-hero-picture {
    height: 280px;
  }
}
@media (min-width: 1024px) {
  .home-hero-picture {
    height: 370px;
  }
}

.hero-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.home-hero-picture button {
  /* position: absolute;
  bottom: 150%;
  left: 200%; */
  background: linear-gradient(104.04deg,#ffb444,#eb6f3a);
  font-size: 14px;
  height: 40px;
  line-height: 20px;
  padding: 0 16px;
  align-items: center;
  border: 1px transparent;
  border-radius: 8px;
  color: #fff;
  display: inline-flex;
  font-weight: 500;
  justify-content: center;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
}

.home-hero-picture button:hover {
  background: #eb6f3a;
}

.register-text {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.register-link {
  color: #ff9345;
}